

<style>
.fa-github{
   color:#6c6c74;
}
</style>
<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle " src="img/about/1.png" alt="" height=150px width=150px>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   
                                    <h4 class="subheading">Object Detection</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A real time object detection model using SSD architecture.

The network is composed of a base VGG network followed by the added multibox conv layers.</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/object-detection"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                             <img class="img-circle" src="img/l4.jpg" alt="" height=150px width=150px>   
                            </div>
<div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Neural Network Car</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An Autonomous car based on a Neural Network. It learns from its past experience and takes a decision depending upon the present situation. </p>
<center><p><a href="https://github.com/Nivritti-bitmesra/Neural-Network-Car"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>

                        </li>

              <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/l2.jpeg" alt="" height=150px width=150px>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Emojify</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A python based emoji detector(using CNN) which then replaces your face with the correct over webcam.
</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/emojify"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>
                                </div>
                            </div>
                        </li>
          <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle" src="img/l3.jpg" alt="" height=150px width=150px>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Indian-Music-Genre-Recognition</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This project is a take at the music genre recognition using machine learning, aimed at Indian music genres. The model was trained using ANN, so that it could differentiate between various genres like Bolly Pop, Sufi, Ghazal, Carnatic and Hindustani Classical. 
</p>
<center><p><a href="https://github.com/Nivritti-bitmesra/Indian-Music-Genre-Recognition"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></p></center>

                                </div>
                            </div>
<li>
                            <div class="timeline-image"><br/><br/>
                                          <img class="img-circle img-responsive" alt="" height=150px width=150px>
                          <h5>More projects:<br/><a href="https://github.com/Nivritti-bitmesra"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a></h5>
                            </div>
                        </li>                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
