
<style>
.banner {
   color:white
}
</style>



<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
                         <div class="  col-xs-12 col-md-4 animated wow bounceInLeft ">
		
					<h2>Keep in Touch:
                            </div></div>
                        <div class="row">
                          <div class="col-md-4">
                            <h3> <strong>Srivatsa Sinha</strong></h3>
        
         <p><i class="fa fa-envelope fa-x"></i>srivatsasinha@gmail.com</p></h2>
				</div>

<div class="  col-md-4">
		
                          <h3> <strong>Kumari Jyotsna</strong></h3>
        
         <p><i class="fa fa-envelope fa-x"></i>simmikumari1997@gmail.com</p></h2>
				</div>
<div class=" col-md-4 ">
		
                          <h3> <strong>Shiladitya Biswas</strong></h3>
        
         <p><i class="fa fa-envelope fa-x"></i>shiladitya97@outlook.com</p></h2>
				</div>


</div>
 


			</div>

		</div>
		<!-- /.container -->

	</div>

</section>
<footer height=80px  style="background:black;color:white;">
<div style=" font-size:22px;">
<center>Web Designer:Kumari Jyotsna</center>
</div>
</footer>
<!-- /.banner -->
