
<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">NIVRITTI</h2>
                    
                </div>
            </div>
            <div class="row text-center">
                <div >
                                        <p class="text-muted">Nivritti is a student run group of highly motivated undergraduate students from diverse majors of Birla institute of technology, Mesra. Its objectives are to explore the untrodden avenues of robotics and machine learning, to initiate the culture of Research amongst young minds and to keep them updated regarding the recent trends in Robotics and Automation. We organise regular symposium and workshop on an annual basis.Providing students a platform to showcase their abilities to the world.
</p>
<div>
<a href="https://github.com/Nivritti-bitmesra"><i class="fa fa-github fa-3x" aria-hidden="true" ></i></a>
</div>
                
            </div>
        </div>
    </section>
